<!DOCTYPE html>
<html>
  <head>
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Galactic unicorn text rolling</title>
  </head>
  <body>
    <div id="container">

        <form class="c-form">
          <div class="two-columns">
            <fieldset>
              <label class="c-form-label" for="uuid">UUID<span class="c-form-required"> *</span></label>
              <input id="uuid" class="c-form-input" type="text" placeholder="uuid" required>
            </fieldset>

            <fieldset>
              <label class="c-form-label" for="color">Color</label>
              <input id="colorpicker" type="color" class="c-form-input-color" >
            </fieldset>
          </div>

          <fieldset>
            <label class="c-form-label" for="message">Message<span class="c-form-required"> *</span></label>
            <textarea id="message" class="c-form-input" placeholder="Hello" required></textarea>
          </fieldset>
          <button id="update">
            <i class="fa-regular fa-paper-plane"></i>&nbsp;Submit
          </button>
        </form>

    </div>

    <div class="toast">
      <div class="toast-content">
        <i class="fas fa-solid fa-check check" id="popup-icon"></i>

        <div class="message">
          <span class="text text-1" id="popup-title">Success</span>
          <span class="text text-2" id="popup-message">Your message has been saved</span>
        </div>
      </div>
      <i class="fa-solid fa-xmark close"></i>

      <div class="progress"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
